*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
 }
 .main_box{
    height: 100vh;
    background: url(photo.jpg);
    background-size: cover;
 }
 .btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    /* cursor: pointer; */

 }
 .sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(221, 214, 214, 0.2);
    box-shadow:0 0 7px rgba(221, 214, 214, 0.5) ;
    transition: all 0.3s linear;
 }
 .sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow:0 0 4px rgba(221, 214, 214, 0.5) ;
 }
 .sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color: aliceblue;
    font-size: 20px;   
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 15px;
    position: absolute;
    left: 275px;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sidebar_menu .menu li{
     margin-top: 6px;
     padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
}
.sidebar_menu .menu i{
    padding-right: 7px;
}
.sidebar_menu .social_media{
    color: beige;
    position: absolute;
    left: 25%;
    bottom: 20px;
}
.sidebar_menu .social_media i{
    color: beige;
    padding: 0px 5px;
    opacity: 0.4;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgba(221, 214, 214, 0.5) ;

}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 20px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}